image: heptacom/shopware-5-pipeline:php74-latest

definitions:
    steps:
        -   step: &default
                clone:
                    depth: 1
        -   step: &secret-lint
                <<: *default
                name: Security Scan
                script:
                    -   pipe: atlassian/git-secrets-scan:0.4.3
        -   step: &build-laravel-app
                <<: *default
                name: Build Laravel App
                caches:
                    - composer
                artifacts:
                    - 'artifacts/build-laravel/**'
                script:
                    - mkdir -p artifacts/build-laravel
                    - git archive ${BITBUCKET_COMMIT} | tar -x -C artifacts/build-laravel
                    - composer install --working-dir=artifacts/build-laravel --no-dev --no-interaction -vv
                    - artifacts/build-laravel/artisan app:download-shopware-administration-style
        -   step: &build-shopware-app
                <<: *default
                name: Build Shopware App
                clone:
                    enabled: false
                artifacts:
                    - 'artifacts/build-shopware/HeptacomHeptaconnectCloudDataAnalysis.zip'
                script:
                    - mkdir -p artifacts/build-shopware
                    - artifacts/build-laravel/artisan app:build
                    - cd artifacts/build-laravel/storage/app/build; zip -r HeptacomHeptaconnectCloudDataAnalysis.zip HeptacomHeptaconnectCloudDataAnalysis/*; cd -
                    - mv artifacts/build-laravel/storage/app/build/HeptacomHeptaconnectCloudDataAnalysis.zip artifacts/build-shopware/HeptacomHeptaconnectCloudDataAnalysis.zip

pipelines:
    default:
        -   step: *secret-lint
    tags:
        release/*:
            -   step: *secret-lint
            -   step: *build-laravel-app
            -   step:
                    <<: *build-shopware-app
                    deployment: production-build
            -   step:
                    name: Upload
                    clone:
                        enabled: false
                    deployment: production-upload
                    trigger: manual
                    script:
                        - rsync -avz -O -e ssh artifacts/build-laravel/ ${SSH_USER}@${SSH_SERVER}:${SSH_DIRECTORY}
                        -   pipe: atlassian/ssh-run:0.2.2
                            variables:
                                SSH_USER: $SSH_USER
                                SERVER: $SSH_SERVER
                                COMMAND: 'source .profile;
                                    $SSH_DIRECTORY/artisan migrate;
                                    $SSH_DIRECTORY/artisan storage:link --force;
                                    $SSH_DIRECTORY/artisan config:cache;'
